<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="container custom-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">Login</h3>
                <br>
                <form class="form" role="form" (ngSubmit)="login($event, email.value, password.value)">
                    <div class="form-group custom-elem">
                        <label  class="placeholder">Email</label>
                        <input #email type="text" class="form-control material-input" autocomplete="on" required>
                            <span class="bottom-liner"></span>
                            <span class="highlight"></span>
                    </div>
                    <div class="form-group custom-elem">
                        <label class="placeholder">Password</label>
                        <input #password type="password" class="form-control material-input" autocomplete="off"  required>
                            <span class="bottom-liner"></span>
                            <span class="highlight"></span>
                    </div><br>
                    <button type="submit"  id="flow-button"  class="btn btn-custom btn-block">Login</button>
    
                </form>
                 <p class="text-center"><small><b> <a [routerLink]="['/register']">No have account?<span> Create here!</span></a></b></small></p>
           
                <!--p class="text-center"><small><b><a href="#">Forgot something?</a></b></small></p-->
            </div>
        </div>
        <button id="flow-button" (click)="addMessage('teste','teste','error')" class="btn btn-custom btn-block not-visible">Sign in</button>
    </div>